//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 22 14:37:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P127" LEVEL 1;
COMP "Seg7<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "Seg7<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "Seg7<2>" LOCATE = SITE "P25" LEVEL 1;
COMP "Seg7<3>" LOCATE = SITE "P27" LEVEL 1;
COMP "Seg7<4>" LOCATE = SITE "P30" LEVEL 1;
COMP "Seg7<5>" LOCATE = SITE "P32" LEVEL 1;
COMP "Seg7<6>" LOCATE = SITE "P35" LEVEL 1;
COMP "Seg7<7>" LOCATE = SITE "P40" LEVEL 1;
COMP "Bin_in<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "Bin_in<1>" LOCATE = SITE "P55" LEVEL 1;
COMP "Bin_in<2>" LOCATE = SITE "P53" LEVEL 1;
COMP "Bin_in<3>" LOCATE = SITE "P52" LEVEL 1;
COMP "digit<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "digit<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "digit<2>" LOCATE = SITE "P36" LEVEL 1;
COMP "digit<3>" LOCATE = SITE "P41" LEVEL 1;
COMP "pb1" LOCATE = SITE "P44" LEVEL 1;
COMP "pb2" LOCATE = SITE "P46" LEVEL 1;
COMP "pb3" LOCATE = SITE "P47" LEVEL 1;
COMP "pb4" LOCATE = SITE "P50" LEVEL 1;
COMP "pb5" LOCATE = SITE "P51" LEVEL 1;
PIN pb5_pin<0> = BEL "pb5" PINNAME PAD;
PIN "pb5_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb5_BUFGP/IBUFG" BEL "pb5_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

